# React / Node
node_modules/
dist/
.vite/

# .NET
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
*.pid